<h1>Stockify</h1>

<img src="/images/turntable_wide.jpg" alt="record player">

<div>
  <a class="button" href="/albums">What have you got?</a>
</div>

<div>
  <a class="button" href="/artists">More of the same?</a>
</div>

<div>
  <a class="button" href="/albums/new">Want something different?</a>
</div>


<p>record sale</p>
