<h1>Stockify</h1>

<img src="/images/turntable_wide.jpg" alt="record player">

<div>
  <a class="button" href="/inventory">Check Inventory</a>
</div>

<div>
  <a class="button" href="/order">Order Album</a>
</div>

<p>order album link</p>
<p>record sale</p>
