<h1>Reorder Album</h1>

<form method="post" action="/reorder">

  <label for="artist-select">Artist:</label>
  <input id="artist-select" type="text" name="artist" value="<%= @artist.name %>"/>

  <label for="album-select">Select an album:</label>
  <select id="album-select" name="album">

    <% @artist.albums.each do |album| %>
      <option value=<%= album.id %>><%= album.title %></option>
    <% end %>

  </select>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>

  <input type="submit" value="Place Order"/>
</form>
