<h1>Reorder Album</h1>

<form method="post" action="/reorder">

  <label for="artist-select">Artist:</label>
  <input id="artist-select" type="text" name="artist" value="<%= @artist.name %>"/>

  <label for="album-select">Which album?:</label>
  <select id="album-select" name="id">

    <% @albums.each do |album| %>
      <option value=<%= album.id %>><%= album.title %></option>
    <% end %>

  </select>

  <label for="quantity">How many?:</label>
  <input id="quantity" type="number" name="quantity"/>

<div class="btn-li">
  <button class="btn">Place Order</button>
</div>

</form>
