@font-face {
  font-family: RadioDaysNF;
  src: url("/fonts/radio_days/RadioDaysNF.ttf");
}

body {
  background-color: darkorange;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
}

h1, h2, h3, h4, h6 {
  text-align: center;
}

header {
  font-family: RadioDaysNF;
    text-align: center;
    font-size: 130px;
}

p {
  text-align: center;
  font-size: 70px;
  margin-left: 30px
}

li {
  font-size: 55px;
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
}

/* ---- classes ----- */

.footer, .footer a {
  font-size: 50px;
  text-align: center;
  padding-top: 20px 0 20px 0;
  text-decoration: underline;
}

img {
  border: black 2px solid;
  border-radius: 25px;
  margin: 20px;
  width:250px;
  height:250px;
}

.main-image{
  height: 600px;
  width: 600px;
}


a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}

/*--- containers----  */

.stock_info {
  display: flex;
  border: black 5px solid;
  border-radius: 25px;
  height: 200px;
  background-color: lightgrey;
  margin: 0 20px 20px 60px;
  padding: 40px 15px;
}

.albums_here, .stock_value {
  border: black 3px solid;
  border-radius: 25px;
  margin: 5px 20px;
  width: 50%;
  padding: 10px 10px 10px 20px;
  text-align: center;
  vertical-align: center;
  font-size: 45px;
  justify-content: space-around;
  background-color: white;
}

.inventory {
  display: flex;
  padding: 10px 0px 30px 30px;
  font-size: 50px;
}

.album-changes {
  display: flex;
  padding-left: 50px;
}

.album-info {
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
  font-size: 15px;
}

.album-image {
  display: flex;
  align-items: center;
  width: 275px;
  height: 275px;
}

.profit_table {
  justify-content: center;
  width: 700px;
  font-size: 80px;
  border: black 5px solid;
  border-radius: 25px;
  background-color: white;
  padding-left: 50px
}

.content-box {
  display: flex;
  border: 5px;
  justify-content: center;
}

select, input, button{
  width: 900px;
  height: 100px;
  font-size: 50px;
  border-radius: 25px;
  border: black 2px solid;
  display: inline-block;
  background-color: white;
  padding-left: 20px;
  margin: 0 30px 0 0px;
}

.btn {
  width: 60%;
  margin-top: 40px;
}

.btn-li {
  display: flex;
  justify-content: center;
}

.btn-row {
  display: flex;
  justify-content: space-around;
}

.btn-row input[type = "submit"] {
  height: 76px;
  width: 450px;
}

label {
  padding: 50px 0 0 20px;
  display: block;
}

select#artist-select, select#genre, select#album-select{
  height: 106px;
  width: 925px;
}

/*  ---- buttons-----*/

.nav-button {
  border: 3px solid black;
  width: 900px;
  font-size: 55px;
  background: white;
  height: 70px;
  padding: 30px 50px 10px 10px;
  border-radius: 25px;
  margin: 15px 15px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button:hover{
  background-color: lightgrey;
}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.small_link {
  font-size: 15px;
  margin: 10px;
}
