
<h1>More of the same please!</h1>

<form method="post" action="/albums/new?artist_id=<%= artist.id %>>

  <label for="artist-select">Artist:</label>
  <input id="artist-select" type="text" name="artist" value="<%= @artist_id %>"/>

  <label for="album-select">Album:</label>
  <input id="album-select" type="text" name="album" value="<%= @album.title %>"/>

  <label for="quantity">Quantity:</label>
  <input id="quantity" type="number" name="quantity"/>

  <div class="btn-li">
    <button class="btn">Place Order</button>
  </div>

</form>
