<h1>Choose Artist</h1>

<div class="artists">
<ul>
<% for artist in @artists %>
  <li>
    <a href="/albums/reorder?artist_id=<%= artist.id %>">
     <%= artist.name %></a>
   </li>
<% end %>

</ul>
</div>
<div class="footers">
  <a href="/">Return to homepage</a>
</div>
