<h1>Add your new artist here, make sure you check the spelling!</h1>



<form method="post" action="/artists">

  <label for="new_artist_name">Artist Name:</label>
  <input id="new_artist_name" type="text" name="name" value=""/>

  <input type="submit" value="Add new artist"/>
</form>
