<h1>Add your new artist here, double check the spelling!</h1>



<form method="post" action="/artists">

  <label for="new_artist_name">Artist Name:</label>
  <input id="new_artist_name" type="text" name="name" value=""/>

<div>
  <button class="button smll-txt">Add new artist</button>
</div>

</form>

<div class="footers">
  <a href="/albums/new">Go back</a>
</div>
